<!-- Checkout Panel Contact -->
<div class="checkout-panel justify-content-center ">
    <h5 class="title-checkout">Contact Information</h5>
    <div class="row justify-content-center" >
        <!-- Email-->
        <div class="justify-content-center">
            <div class="form-group">
                <label for="email" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Shima">
            </div>
            <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="you@example.com">
            </div>
            <div class="form-group">
                <label for="email" class="form-label">Message</label>
                <textarea type="text" class="form-control " id="message" placeholder="right your message ... "></textarea>
            </div>

            <!-- Mailing List Signup-->
            <div class="form-group form-check m-0">
                <input type="checkbox" class="form-check-input" id="add-mailinglist" checked>
                <label class="form-check-label" for="add-mailinglist">Keep me updated with your latest news and offers</label>
            </div>
            <br/>
            <div class="justify-content-center">
                <a href="#" class="btn btn-dark w-25 rounded" role="button">Submit</a>
            </div>
        </div>
    </div>
</div>
<!-- /Checkout Panel Contact -->